node_modules/
.env
backend/.env
frontend/.env
.next/
frontend/.next/
frontend/node_modules/
frontend/auth.db
backend/venv/
backend/uploads/
__pycache__/
/.pnpm-store/
*.pyc
*.pyo
*.DS_Store
*.tsbuildinfo
